*{
    margin : 0;
    padding : 0;
    font-family:"Arial";
}

.navbar {
    background-color : black;
    color : white;
    display : flex;
    height : 70px;
    border : 1px solid red;
    align-items : center;
    justify-content: space-between;
}
.nav-name{
    font-size : 1.2rem;
    font-weight : bold;
    margin-left : 50px;
    text-decoration: underline red 1.5px solid;
}
.navbar a{
    color : white;
    text-decoration : none;
    font-size : 1rem;
    justify-content: space-evenly;
}
.nav-opts{
    display : flex;
    gap : 20px;
    margin-right : 50px;
}
.hero-section{
    background-color: #0f0a0a;
    color : white;
    height : 70vh;
    display : flex;
    justify-content : space-evenly;
    border : 1px solid red;
}
.hero-hi{
    font-size : 2.5rem;
    padding-left : 30px;
    padding-top : 50px;
}
.hero-nm{
    font-size : 2.5rem;
    padding-left : 70px;
    padding-top : 20px;
}
.hero-desc{
    font-size : 1.2rem;
    padding-left : 50px;
    padding-top : 20px;
}
.myprofile{
    background-image : url(mypic.jpeg);
    background-size: cover;
    background-position: center;
    height : 70%;
    width : 100%;
    max-width : 350px;
    aspect-ratio: 1/1;;
    padding-top : 30px;
    margin-top : 50px;
    border-radius : 50%;
    border : 8px solid red;
}
.img-container{
    display : flex;
}
.img-container i{
    font-size : 3rem;
    color : red;
    margin-top : 300px;
    margin-left : 10px;
}
.info{
    padding-top : 50px;
}
.icons i{
    color : red;
    font-size:2rem;
    margin-left : 30px;
    margin-bottom : 20px;
    gap : 20px;
}
.icons{
    margin-left : 20px;
}
.icons i:hover{
    color : white;
    cursor : pointer;
}
.download-btn{
    background-color : red;
    color : white;
    border : none;
    padding : 10px 20px;
    font-size : 1rem;
    cursor : pointer;
    margin-top : 20px;
    margin-left : 50px;
    height : 40px;
    width : 150px;
    border-radius : 5px;
    margin-top : 50px;
    margin-bottom : 50px;
}
.code-img{
    background-image : url(code-img.jpeg);
    background-size: cover;
    height : 90px;;
    width : 110px;
    margin-top : 50px;
}
.about-section{
    background-color : #0f0a0a;
    color : white;
    height : 60vh;
    display : flex;
    gap : 60px;
    justify-content: space-between;
    border : 1px solid red;
}
.about-heading{
    font-size : 2rem;
    margin-top : 30px;
    margin-left : 250px;
    text-decoration: underline red 1.5px solid; 
}
.about-desc{
    font-size : 1.2rem;
    width : 60%;
    text-align : center;
    margin-top : 20px;
}
.about-info{
    display : flex;
    flex-direction : column;
    gap : 10vh;
    margin-top : 10px;
    padding-top : 10px;
}
.about-icons{
    margin-top : 20px;
    display : flex;
    flex-direction : column;
    font-size : 3rem;
    color : red;
    gap : 40px;
    margin-left : 40px;
    width : 40%;
}
.skill-section{
    background-color : #0f0a0a;
    height : 60vh;
    display: flex;
    justify-content: center;
    flex-direction : column;
    border : 1px solid red;
}
.skill-heading{
    font-size : 2.3rem;
    margin-top : 30px;
    color:white;
    text-decoration: underline red 1.5px solid;
    text-align : center;
    margin-bottom : 40px;
}
.skills{
    display : grid;
    grid-template-columns : repeat(5,1fr);
    gap : 40px;
    margin : 50px;
}
.skill-item{
    background-color : red;
    color : white;
    height : 25px;
    padding : 20px 40px;
    font-size : 1.5rem;
    border-radius : 5px;
}
.project-section{
    background-color : #0f0a0a;
    height : 60vh;
    display: flex;
    justify-content: center;
    flex-direction : column;
    border : 1px solid red;
}
.project-heading{
    font-size : 2.3rem;
    color:white;
    text-decoration: underline red 1.5px solid;
    text-align : center;
    margin-bottom : 40px;
}
.projects{
    display : grid;
    grid-template-columns : repeat(3,1fr);
    gap : 40px;
    margin : 50px;
}
.project-item{
    color:white;
    font-size : 1.2rem;
    /*background-color : rgb(255, 29, 29);*/
}
.project-title{
    color : red;
}
.contact{
    background-color : #0f0a0a;
    height : 30vh;
    display: flex;
    flex-direction : column;
    gap : 5vh;
    border : 1px solid red;
    color : white;
    align-items : center;
}
.contact-heading{
    font-size : 2.3rem;
    text-decoration: underline red 1.5px solid;
    margin-top : 30px;
}
.contact p{
    margin-top : 10px;
}
